:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --default-spacing: 10px;
  --default-margin: 1rem;
  --medium-margin: 3rem;
  --larger-margin: 5rem;
  --primary-color: #7676d7;
  --secondary-color: #d77676;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--primary-color);
}

/* common css starts */

.container {
  margin: 10px 0;
  padding: auto;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  font-weight: 400;
  margin-top: var(--default-margin);
  color: #7676d7;
}

.title span {
  color: var(--secondary-color);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--default-margin);
  margin-top: var(--medium-margin);
  margin-bottom: var(--larger-margin);
}

.buttons .btn,
.buttons .btn:active,
.buttons .btn:focus {
  background-color: var(--primary-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  outline: none;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  transition: transform 0.3s, box-shadow 0.3s;
  font-size: 16px;
  cursor: pointer;
}

.buttons .btn:hover,
.buttons .btn:focus {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
}

.buttons .btn:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.error-msg {
  color: #ff0000;
  text-align: center;
}

.loading {
  color: #6565d4;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}

/* common css ends */

/* search section starts */

.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--default-margin);
}

.search-section .search-input {
  min-width: 500px;
  padding: var(--default-spacing);
}

.search-section .search-btn {
  margin-left: var(--default-spacing);
}

/* search section ends */

/* filters section starts */

.filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  margin-top: var(--default-margin);
}

.filters > * {
  padding: 0.2em 0.5em;
  margin-top: 1rem;
  background: #7676d7;
  color: #fff;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid #fff;
}

.filters > *:hover {
  background: #6a6acf;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  transform: translateY(-1px);
}

.filters > *.active {
  background: #5d5db8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid #eaeaea;
}

/* filters section ends */

/* images section starts */

.images {
  margin-top: var(--medium-margin);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: var(--default-spacing);
  justify-content: center;
  align-items: center;
}

.images .image {
  width: 100%;
  height: 300px;
  justify-self: center;
  align-self: center;
  border-radius: 5px;
  transition: transform 0.5s;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.images .image:hover {
  transform: translateY(-3px);
}

/* images section ends */

/* Responsive adjustments */
@media (max-width: 768px) {
  .images {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 768px) {
  .images .image {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .search-section .search-input {
    width: 100%;
    min-width: unset;
    margin: 0 var(--default-margin);
  }

  .images {
    grid-template-columns: 1fr;
  }
}
